@charset "utf-8";
/*layout*/
body{background:url(../images/menu_bar.gif) repeat-x 0px 65px;}
#wrap{margin:0 0;text-align:left;}
#header{width:1440px;}
#container{position:relative;margin:90px 0 20px 20px;clear:both;}
#footer{height:10px;position:relative;left:650px;width:205px;clear:both;}

/*header*/
h1{position:absolute;left:15px;top:10px;}
.lnb{position:relative;left:1030px;top:35px;}
.lnb li{float:left;padding:0 3px;}
.form1{position:relative;left:-270px;top:80px;}
.form2{position:relative;left:100px;top:60px;}
.newOpen{position:relative;left:210px;top:40px;}
.newOpen li{float:left;margin:2px;}

.gnb{position:relative;left:420px;top:35px;}
.gnb {width:1000px; height:30px; position:relative; margin:0px 0  5px 0;}
.gnb ul {padding:0; margin:0; list-style-type: none;}
.gnb ul li {float:left;text-align:center; border-left:1px solid #4da1bd;width:120px;}
.rightLine{border-right:1px solid #4da1bd;}

.gnb{position:relative;left:520px;top:33px;}
.gnb {width:1000px; height:35px; position:relative; margin:0px 0  5px 0;}
.gnb ul {padding:0; margin:0; list-style-type: none;}
.gnb ul li {float:left;text-align:center; border-left:1px solid #4da1bd;width:105px;}
.rightLine{border-right:1px solid #4da1bd;}

.gnb ul li a, .menu ul li a:visited {display:block; width:105px; text-decoration:none; padding:0 0 0 0; height:39px; line-height:39px; color:#fff; background:#0078a1;}
.gnb ul li ul {visibility:hidden; position:absolute; top:39px; left:53px;}
.gnb ul li ul li {border-left:none; width:105px;}

.gnb ul li:hover a,
.gnb ul li a:hover {color:#FFF; background:#18357c;}

.gnb ul li:hover ul,
.gnb ul li a:hover ul {visibility:visible; width:980px; color:#000;}

.gnb ul li:hover ul.right_side li,
.gnb ul li a:hover ul.right_side li {float:right; border:0;position:relative; top:0px; right:240px;}
.gnb ul li:hover ul.right_center li,
.gnb ul li a:hover ul.right_center li {float:right; border:0;position:relative; top:0px; right:451px;}

.gnb ul li a:hover ul li a {display:block; background:#fff; color:#000;}
.gnb ul li:hover ul li a:hover,
.gnb ul li a:hover ul li a:hover {color:#fffc00;}

.gnb ul li:hover ul li:hover ul,
.gnb ul li a:hover ul li a:hover ul {visibility:visible; color:#000; }

/* .gnb ul li a, .menu ul li a:visited {display:block; width:120px; text-decoration:none; padding:0 0 0 0; height:30px; line-height:30px; color:#fff; background:#0078a1;}
.gnb ul li ul {visibility:hidden; position:absolute; top:30px; left:75px;}
.gnb ul li ul li {border-left:none; width:120px;}

.gnb ul li:hover a,
.gnb ul li a:hover {color:#000; background:#eee;}

.gnb ul li:hover ul,
.gnb ul li a:hover ul {visibility:visible; width:980px; color:#000;}

.gnb ul li:hover ul.right_side li,
.gnb ul li a:hover ul.right_side li {float:right; border:0;position:relative; top:0px; right:134px;}
.gnb ul li:hover ul.right_center li,
.gnb ul li a:hover ul.right_center li {float:right; border:0;position:relative; top:0px; right:400px;}

.gnb ul li a:hover ul li a {display:block; background:#fff; color:#000;}
.gnb ul li:hover ul li a:hover,
.gnb ul li a:hover ul li a:hover {color:red;}

.gnb ul li:hover ul li:hover ul,
.gnb ul li a:hover ul li a:hover ul {visibility:visible; color:#000; } */



/*side*/
#side{clear:both;position:absolute;width:200px;margin-right:30px;}
#side ul li{background:url(../images/snb_menu_off.gif) no-repeat 0 0;width:175px;height:30px;line-height:28px;font-weight:bold;color:#797a7a;}
#side ul li:hover{background:url(../images/snb_menu_on.gif) no-repeat 0 0;width:175px;height:30px;line-height:28px;font-weight:bold;color:#fff;}
#side ul li.aa{text-indent:17px;color:#797a7a}
#side ul li.menuOn{background:url(../images/snb_menu_on.gif) no-repeat 0 0;width:175px;height:30px;line-height:28px;font-weight:bold;color:#fff;text-indent:17px;}

/*side_1*/
#side_1{clear:both;position:absolute;width:200px;margin-right:30px;top:150px;left:20px;}
#side_1 ul li{background:url(../images/snb_menu_off.gif) no-repeat 0 0;width:175px;height:30px;line-height:28px;font-weight:bold;color:#797a7a;}
#side_1 ul li:hover{background:url(../images/snb_menu_on.gif) no-repeat 0 0;width:175px;height:30px;line-height:28px;font-weight:bold;color:#fff;}
#side_1 ul li.aa{text-indent:17px;}
#side_1 ul li.menuOn{background:url(../images/snb_menu_on.gif) no-repeat 0 0;width:175px;height:30px;line-height:28px;font-weight:bold;color:#fff;text-indent:17px;}

#side_1 .bn li{float:left;background: url(../images/snb_menu01_off.gif) no-repeat;color:#787979;}
#side_1 .bn li:hover{background:url(../images/snb_menu01_on.gif) no-repeat 0 0;width:175px;height:30px;line-height:28px;font-weight:bold;color:#fff;}
#side_1 .bn li.a_menuOn{background:url(../images/snb_menu01_on.gif) no-repeat 0 0;width:175px;height:30px;line-height:28px;font-weight:bold;color:#fff;text-indent:17px;}


/*contents*/
#contents{width:1090px;position:relative;left:160px;top:60px;}

/*intro*/
#inbody{background:#fff;}
#intro_wrap{position:absolute;top:50%; left:50%;width:640px;height:268px;margin-top:-160px;margin-left:-320px;}/*가로세로중앙정렬*/
#intro_header{height:50px;}
p.Intext{position:relative;top:-18px;left:260px;}
#intro_container{background:url(../images/intro_bg.gif) no-repeat 0 0;height:174px;width:640px;}
.IdPw{position:relative;top:67px;left:200px;}
.InPw td{width:55px;}
.idSave{position:relative;top:80px;left:200px;}
.idSave li{float:left;padding-right:5px;}
.idpwLook{position:relative;top:80px;left:235px;}

.idpwLook li{float:left;padding-right:5px;}
.idSave a, .idpwLook a{color:#3c3c3c;}
.idSave a:hover, .idpwLook a:hover{color:#cdcbcb;}

#intro_footer{position:relative;text-align:center;}
