table td{border:0;font-family:'돋움',dotum;font-size:12px;}
caption{display:none}
img{border:0;}
input label img{vertical-align:middle;}
ol, ul, li {list-style : none ;}
#r_contents{width:600px;}


.home{float:right;widht:300px;margin-top:20px;}
.home li{float:left;padding-left:3px;}
.home li a:hover{color:blue;}
.NPage{color:blue;}



.eTabmenu_01{float:left;clear:both;}

.etable_01{width:1100px;padding:0;margin:0;padding-top:10px;}
.etable_01 td{width:10%;border-right:1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background:#fff;color:#4f6b72;padding:6px;}
.etable_01 td.nobg{border-top:1px solid #C1DAD7;border-left: 1px solid #C1DAD7;background:#F5FAFA;}
.etable_01 td.nobg2{border-top:1px solid #C1DAD7;background:#F5FAFA;}
.etable_01 td.nobg1{border-top:1px solid #C1DAD7;} 
.etable_01 td.alt{background: #F5FAFA;}
.etable_01 td.alt1{border-left: 1px solid #C1DAD7;background:#F5FAFA;}
.etable_01 select{width:170px;}
.etable_02{width:1100px;padding:0;margin:0;padding-top:30px;text-align:center;}
.etable_02 td{width:8%;border-right:1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background:#fff;color:#4f6b72;padding:6px;}

.etable_02 td.nobg{border-top:1px solid #C1DAD7;border-left: 1px solid #C1DAD7;background:#F5FAFA;}
.etable_02 td.nobg1{border-top:1px solid #C1DAD7;background:#F5FAFA;}
.etable_02 td.nobg2{border-top:1px solid #C1DAD7;background:#F5FAFA;width:8%;}
.etable_02 td.alt{background:#fff;border-left: 1px solid #C1DAD7;}

.btnIcon_1{position:relative;top:0px;left:925px;padding-top:10px;}
.btnIcon_1 li{float:left;padding-left:5px;}
.btnIcon_99{position:relative;top:0px;left:790px;padding-top:10px;}
.btnIcon_99 li{float:left;padding-left:5px;}



#ts_tabmenu{font-size:12px;padding: 20px 0px 0px 20px;}
#ts_tabmenu span{font-weight:bold;}
#ts_tabmenu ul{line-height: 1em;margin:0px;list-style-type: none;float: left;padding: 0px 0px 0px 5px;}
#ts_tabmenu ul li{float:left;}
#ts_tabmenu ul li a{text-decoration: none; display: block; float: left; padding: 0px 0px 0px 10px;
         background:url(../images/tabs.gif) no-repeat left top;margin-left: -5px;z-index: 0;position: relative;color: #666666;}
#ts_tabmenu ul li a strong{font-weight: normal;display: block;float: left;background: url(../images/tabs.gif) no-repeat right top;
	     padding:6px 10px 7px 5px;cursor:pointer;}


#ts_tabmenu ul li a:hover{position: relative;z-index: 5;background: url(../images/tabs.gif) no-repeat left bottom;color:red;}
#ts_tabmenu ul li a:hover strong{background:url(../images/tabs.gif) no-repeat;position: relative;z-index: 5;background-position: right bottom;}


#ts_tabmenu ul li .overMenu{position: relative;z-index: 5;background: url(../images/tabs.gif) no-repeat left bottom;color:red;}
#ts_tabmenu ul li .overMenu strong{background:url(../images/tabs.gif) no-repeat;position: relative;z-index: 5;background-position: right bottom;}

.etable_03{width:1100px;padding:0;margin:0;padding-top:0px;}
.etable_03 td{width:15%;border-right:1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background:#fff;color:#4f6b72;padding:6px;}
.etable_03 td.nobg{border-top:1px solid #C1DAD7;border-left: 1px solid #C1DAD7;background:#F5FAFA;width:10%;}
.etable_03 td.nobg2{border-top:1px solid #C1DAD7;background:#F5FAFA;}
.etable_03 td.nobg1{border-top:1px solid #C1DAD7;} 
.etable_03 td.alt{background: #F5FAFA;}
.etable_03 td.alt1{border-left: 1px solid #C1DAD7;background:#F5FAFA;}


.etable_04{width:1100px;padding:0;margin:0;padding-top:0px;}
.etable_04 td{border-right:1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background:#fff;color:#4f6b72;padding:6px;}
.etable_04 td.nobg{border-top:1px solid #C1DAD7;border-left: 1px solid #C1DAD7;background:#F5FAFA;width:9%;}
.etable_04 td.nobg2{border-top:1px solid #C1DAD7;background:#F5FAFA;width:10%;}
.etable_04 td.nobg1{border-top:1px solid #C1DAD7;width:12%;} 
.etable_04 td.nobg3{border-top:1px solid #C1DAD7;border-right:none;width:10%;} 
.etable_04 td.alt{background: #F5FAFA;}
.etable_04 td.alt1{border-left: 1px solid #C1DAD7;background:#F5FAFA;}

.etable_05{width:1100px;padding:0;margin:0;padding-top:10px;}
.etable_05 td{width:35%;border-right:1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background:#fff;color:#4f6b72;padding:6px;}
.etable_05 td.nobg{border-top:1px solid #C1DAD7;border-left: 1px solid #C1DAD7;background:#F5FAFA;width:15%;}
.etable_05 td.nobg2{border-top:1px solid #C1DAD7;background:#F5FAFA;}
.etable_05 td.nobg1{border-top:1px solid #C1DAD7;} 
.etable_05 td.nobg3{border-top:1px solid #C1DAD7;border-right:none;} 
.etable_05 td.alt{background: #F5FAFA;width:15%;}
.etable_05 td.alt1{border-left: 1px solid #C1DAD7;background:#F5FAFA;width:15%;}

.etable_06{width:1100px;padding:0;margin:0;padding-top:0px;}
.etable_06 td{width:35%;border-right:1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background:#fff;color:#4f6b72;padding:6px;}
.etable_06 td.nobg{border-top:1px solid #C1DAD7;border-left: 1px solid #C1DAD7;background:#F5FAFA;width:10%;}
.etable_06 td.nobg2{border-top:1px solid #C1DAD7;background:#F5FAFA;width:10%;}
.etable_06 td.nobg1{border-top:1px solid #C1DAD7;width:35%;} 
.etable_06 td.nobg3{border-right:none;}
.etable_06 td.alt{background: #F5FAFA;width:15%;}
.etable_06 td.alt1{border-left: 1px solid #C1DAD7;background:#F5FAFA;width:15%;}

.etable_07{width:1100px;padding:0;margin:0;padding-top:30px;text-align:center;}
.etable_07 td{border-right:1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background:#fff;color:#4f6b72;padding:6px;}

.etable_07 td.nobg{border-top:1px solid #C1DAD7;border-left: 1px solid #C1DAD7;background:#F5FAFA;width:5%;}
.etable_07 td.nobg1{border-top:1px solid #C1DAD7;background:#F5FAFA;width:9%;}
.etable_07 td.nobg2{border-top:1px solid #C1DAD7;background:#F5FAFA;width:9%;}
.etable_07 td.alt{background:#fff;border-left: 1px solid #C1DAD7;}

.btnIcon_2{position:relative;top:0px;left:760px;padding-top:10px;}
.btnIcon_2 li{float:left;padding-left:5px;}

.btnIcon_3{position:relative;top:0px;left:850px;padding-top:10px;}
.btnIcon_3 li{float:left;padding-left:5px;}

.etable_08{width:1100px;padding:0;margin:0;padding-top:0px;}
.etable_08 td{width:35%;border-right:1px solid #C1DAD7;border-bottom: 1px solid #C1DAD7;background:#fff;color:#4f6b72;padding:6px;}
.etable_08 td.nobg{border-top:1px solid #C1DAD7;border-left: 1px solid #C1DAD7;background:#F5FAFA;width:10%;}
.etable_08 td.nobg2{border-top:1px solid #C1DAD7;background:#F5FAFA;width:10%;}
.etable_08 td.nobg1{border-top:1px solid #C1DAD7;width:35%;} 
.etable_08 td.alt{background: #F5FAFA;width:15%;}
.etable_08 td.alt1{border-left: 1px solid #C1DAD7;background:#F5FAFA;width:15%;}

.btnIcon_4{position:relative;top:0px;left:983px;padding-top:10px;}
.btnIcon_4 li{float:left;padding-left:5px;}

p.btnSave{float:right;clear:both;padding-top:10px;}




